<div class="error-content">
    <br />
    <h3>Oops! Page not found.</h3>
    <p>
        We could not find the item you were looking for.
        Meanwhile, you may <a href="/">return to home</a> or try using the search form.
    </p>
</div>