USE [master]
GO
/****** Object:  Database [EmptyEF_Jaseela]    Script Date: 4/13/2023 11:07:29 PM ******/
CREATE DATABASE [EmptyEF_Jaseela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmptyEF_Jaseela', FILENAME = N'D:\SQL2019\Data\EmptyEF_Jaseela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmptyEF_Jaseela_log', FILENAME = N'D:\SQL2019\Log\EmptyEF_Jaseela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmptyEF_Jaseela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmptyEF_Jaseela]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/13/2023 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/13/2023 11:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Department] [int] NOT NULL,
	[AddPhotopath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230412124353_InitialMig', N'5.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230412131126_SeedEmployeesTable', N'5.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230412131601_AlterEmployeesSeedData', N'5.0.0')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Email], [Department], [AddPhotopath]) VALUES (7, N'jaseela1', N'jaseela@pragimtech.com', 0, N'd8b50710-fcf1-4c4f-8903-142b7b4c1a32_download (2).jpg')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Email]
GO
USE [master]
GO
